<div class="container-fluid" style="margin-top:80px;">
    <p><a href="/itjobs" class="btn btn-warning btn-sm">Go To Back</a></p>
    <div class= "row">
      <div class="col-xs-2 col-lg-2">
        <div class="panel panel-default">
          <div class ="panel panel-body">
            <ul class="nav nav-pills nav-stacked ">
              <li class="active"><a href="#">Notification</a></li>
              <li><a href="#">Latest Notifications</a></li>
              <li><a href="#">Upcoming Notifications</a></li>
              <li><a href="#">Examwise Information</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class ="panel panel-body">
            <ul class="nav nav-pills nav-stacked ">
              <li class="active"><a href="#">Latest Annoncement</a></li>
              <li><a href="#">Interview Results</a></li>
              <li><a href="#">Interview Schedule</a></li>
              <li><a href="#">Exam Date Reminder</a></li>
              <li><a href="#">Written Marks</a></li>
              <li><a href="#">Admit Card / Call Letter</a><li>
            </ul>
          </div>
        </div>
      </div> 
      <div class="col-xs-7 col-lg-7 ">
        <div class="panel panel-primary">
          <div class="panel panel-heading">
            <ul>
              <h4 class="text-success">{{data.itjob.companyName}}&nbsp;Recuitement for&nbsp;{{data.itjob.title}}</h4>
            </ul>
          </div>
          <div class="panel panel-body">
            <ul>
              <div >
                <label>Company Name:</label>&nbsp;&nbsp;<p>{{data.itjob.companyName}}</p>
              </div><br>
              <div >
                <Strong>Job Summary</strong>&nbsp;&nbsp;{{{data.itjob.jobDescription}}}
               </div><br>
              
              <div >
                  <label>Experience:</label>&nbsp;&nbsp;<p>{{data.itjob.experience}}</p>
              </div><br>
              <div >
                  <label>Education:</label>&nbsp;&nbsp;<p>{{data.itjob.education}}</p>
              </div><br>
              <div >
                  <label>Location:</label>&nbsp;&nbsp;<p>{{data.itjob.location}}</p>
              </div><br>
              <div >
                  <label>Industry:</label>&nbsp;&nbsp;<p>{{data.itjob.industry}}</p>
              </div><br>
              <div >
                  <label>Role:</label>&nbsp;&nbsp;<p>{{data.itjob.role}}</p>
              </div><br>
              <div >
                  <label>Key Skills:</label>&nbsp;&nbsp;<p>{{data.itjob.keySkills}}</p>
              </div><br>
              <div>
                <label>Salary:</label>&nbsp;&nbsp;<p>{{data.itjob.salary}}</p>
              </div>

              <div >
                  <label>Walk-In Details:</label><br>
                  <label >Walk-In Date:</label>&nbsp;&nbsp;<p>{{data.itjob.walkInDate}}</p>
                  <label >Walk-In Time:</label>&nbsp;&nbsp;<p>{{data.itjob.walkInTime}}</p>
                  <label >Walk-In Venue:</label>&nbsp;&nbsp;<p>{{data.itjob.walkInVenue}}</p>
              </div><br>
              <div>
                <label>Contact Details:</label>
                <label >Company Name:</label>&nbsp;&nbsp;<p>{{data.itjob.companyName}}</p>
                <label >Website:</label>&nbsp;&nbsp;<p>{{data.itjob.website}}</p>
                <label>Apply Online</label>
                </label><a  href="{{data.itjob.applicationLink}}"> Click To Apply</a></label>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 ">
                  <!--Accordian Starts-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title text-success">
                                <p>Collapsible Group 1<span  data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="glyphicon glyphicon-plus pull-right"></span></p>
                            </h4>
                        </div> 
                        <div id="collapse1" class="panel-collapse collapse  in" >
                            <div class=" item active panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title text-success">
                                <p>Collapsible Group 1<span  data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="glyphicon glyphicon-plus pull-right"></span></p>
                            </h4>
                        </div> 
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title text-success">
                                <p>Collapsible Group 1<span  data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="glyphicon glyphicon-plus pull-right"></span></p>
                            </h4>
                        </div> 
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>
                   <!--Accordian Ends-->
                   <!--Blockquatoes  Starting-->  
                   <div class="panel panel-primary">
                       <div class="panel panel-heading"><h4 class="panel-title text-success">Testimonimals<h4></div>
                       <div class=" panel panel-body">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                               <!-- Indicators -->
                                <ol class="carousel-indicators">
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#myCarousel" data-slide-to="1"></li>
                                  <li data-target="#myCarousel" data-slide-to="2"></li>
                                  <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>
                               <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <blockquote class="panel-success">
                                           <p >For 50 years, WWF has been protecting the future of nature.</p>
                                            <footer  class="text-success">From WWF's website</footer>
                                        </blockquote>
                                    </div>    <br/>
                                    <div class="item">
                                        <blockquote class="panel-success">
                                         <p >For 50 years, WWF has been protecting the future of nature.</p>
                                         <footer  class="text-success">From WWF's website</footer>
                                        </blockquote>
                                    </div> <br/>
                                    <div class="item ">
                                        <blockquote class="panel-success">
                                           <p >For 50 years, WWF has been protecting the future of nature.</p>
                                            <footer  class="text-success">From WWF's website</footer>
                                        </blockquote>
                                    </div>    <br/>
                                    <div class="item">
                                        <blockquote class="panel-success">
                                         <p >For 50 years, WWF has been protecting the future of nature.</p>
                                         <footer  class="text-success">From WWF's website</footer>
                                        </blockquote>
                                    </div> <br/>
                                   
                                </div>    
                            
                            </div>
                       </div>
                   </div>
                </div>


    </div>
</div>
